* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family:'Inter', sans-serif;;
    overflow-x: hidden;
}


.home-header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
  }
.arrow {
  font-size: 22px;
  margin-right: 10px;
  color: white;
}

.back-text {
  color: white;
  font-size: 22px;

}

.head-4 {
  color: white;
  margin-top: 12rem;
  margin-bottom: 6rem;
  font-size: 75px;
  text-align: center;
  
}

.camera-pic {
  display: flex;
  justify-content: center;
  width: 1336.84px;
  height: 552.5px;
}

.text-6 {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 50px;
  
  
}

CSS

.main-text {
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.kolar-pilt {
  width: 439.66px;
  height: 849.51px; 
  margin-right: 5rem;
  margin-left: 10rem;
  margin-right: 6rem;
}

.kolar-text {
  width: 438.69px;
  color: white;
  font-size: 30px;
  margin-top: -24rem; 
}

.trimmer-pilt {
  width: 439.66px;
  height: 849.51px;
  margin-right: 6rem; 
  margin-top: -16rem;
}

.trimmer-text {
  width: 438.69px;
  color: white;
  font-size: 30px; 
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 6rem;
}


.profile_img img{
  width: 323px;
  height: 410px;
  margin-left: 3rem;
}

.review_title{
  padding-bottom: 60px;
  margin-top: 20rem;
  font-weight: 400;
  font-size: 74px;
  color: white;
}

.reviews{
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15em; 
}

.review{
  display: flex;
}

.user_info{
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.text_title{
  padding-left: 40px;
  font-weight: 400;
  font-size: 58px;
  color: white;
}

.review_text{
  padding-left: 40px;
  font-weight: 300;
  font-size: 30px;
  color: white;
}

.name{
  padding-left: 40px;
  font-weight: 300;
  font-size: 22px;
  color: white;
}

footer {
  background-color: #fff;
  color: #000000;
  padding: 20px 0;
  
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .pp {
  margin: 0;
}

.pp {
  font-weight: bold;
}

.ull {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.ull .lii {
  margin-right: 20px;
}

.ull .lii .aa {
  color: #333;
  text-decoration: none;
}









